[Unit]
Description=Etc Multiplexer v1.0  Service
After=network.target

[Service]
Type=idle  
ExecStart=/usr/bin/python3 /opt/multiplexer_udp.py
User=root
Restart = on-failure
ExecStartPost=echo wait before (re)starting hyper...
ExecStartPost=sleep 10
ExecStartPost=echo (re)start hyper...
ExecStartPost=service hyper restart
ExecStartPost=echo wait before (re)starting z-way-server...
ExecStartPost=sleep 30
ExecStartPost=echo (re)start z-way-server...
ExecStartPost=service z-way-server restart

ExecStopPost=-service z-way-server stop
ExecStopPost=-service hyper stop
ExecStopPost=-rm /dev/ttyS0fake*

TimeoutStartSec=300

[Install]  
WantedBy=multi-user.target 
