<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
    </targets>

    <rules>
		<!-- Targets with these names will be created and assigned to these rules at program start -->
		<!-- Or default rules will be created if not found in the config file -->
		<logger ruleName ="ConsoleInput" name="*" minlevel="Debug" />
        <logger ruleName="TCPInput" name="*" minlevel="Debug" />
        <logger ruleName="FileTarget" name="*" minlevel="Debug" />



</rules>
</nlog>